
<div class="container">
    <div class="d-flex flex-row"id="Search">
        <input type="number" class="form-control" placeholder="Search By Book id" aria-label="id_book"
        aria-describedby="basic-addon2" #inputCode>
        <app-buttom [buttonText]="buttonTextParent" [buttonColor]="buttonColor"(click)="findBook(inputCode)"></app-buttom>
    </div>
</div>
@if(singleBook) {    
    <div class="d-flex flex-row"id="row">  
            <div class="card" style="width: 21rem;">
                <button type="button" class="btn-close" aria-label="Close"(click)='onDeleteCard(singleBook)'>{{singleBook.id_book}}</button>
                <img src="{{singleBook.photo}}" id="img" class="card-img-top" alt="...">
                <div  class="card-body">
                    <p class="card-text">{{singleBook.type}}</p>
                    <h5 class="card-title">{{singleBook.title}}</h5>
                    <p class="card-text">{{singleBook.author}}</p>
                    <p class="card-text">{{singleBook.id_book | idBook }}</p>
                    <h3 class="price">{{singleBook.price}}</h3>
                    <button type="button" class="btn btn-outline-success">COMPRAR</button>
                </div>
            </div>
    </div>
    }

    @if(noBookText) {
        <h2>{{ noBookText }}</h2>
    }




<div class="container-fluid">
    <div class="d-flex flex-row"id="linea">
        @for(book of books; track book.title;){
            <app-card class="cards" [book]="book"(deleteCard)="onDeleteCard($event)"></app-card>
        }
    </div>
</div>

