
#img{
    height: 220px;
    object-fit:contain;
}
#linea{
    justify-content: space-around;
    align-items:start;
    flex-wrap: wrap;
}
.form-control{
   background-color:darkgray;
}
#Search{
    margin: 25px;
}
#row{
    justify-content: space-around;
    margin: 20px;
}
