<div class="container">
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://a1.eestatic.com/cronicaglobal/2015/01/23/cronica-directo/estilo/estilo_5510736_3252065_1706x960.jpg"style="object-fit: cover;" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>First slide</h5>
                    <p>Entre libros y susurros de papel,<br>encuentras el universo que anhelas conocer,</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://media.istockphoto.com/id/1386193712/es/foto/conocimiento.jpg?s=612x612&w=0&k=20&c=V6me3mllBgJhyzBo-SDUY4Ys9jXhEAOvRh-Nd-SU5a8="style="object-fit: cover;" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide</h5>
                    <p>En cada pagina un vieje sin igual,<br>en nuestras estanterias,el placer de aprender</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://lonelyplanetes.cdnstatics2.com/sites/default/files/inline-images/inglaterra_londres_libreria_dauntbooks_lpi-29080-69_doug_mckinlay_lonely_planet.jpg"style="object-fit: cover;" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide</h5>
                    <p>Todos nuestros libros a tu disposicion.<br>Registrate</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
